@using LearningSystem.Common.Constants
@model IEnumerable<AllCoursesViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <div class="text-center text-primary">
        <h1>Welcome to the Learnig System</h1>
    </div>
</div>

<div class="row">
    @foreach (var course in Model)
    {
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    @course.Name
                </div>
                <div class="panel-body">
                    @if (DateTime.UtcNow < course.StartDate)
                    {
                        <p>Start Date: @course.StartDate.ToShortDateString()</p>

                        if (User.Identity.IsAuthenticated && !User.IsInRole(WebConstants.TrainerRole))
                        {
                            <form class="form-group" asp-controller="StudentCourses" asp-action="SignUpStudent" method="post">
                                <input name="id" asp-for="@course.Id" type="hidden" value="@course.Id" />
                                <input type="submit" class="btn btn-sm btn-info" value="Sign Up" />
                            </form>

                        }

                    }
                    else
                    {
                        <p>Course has started</p>
                    }

                </div>
                <div class="panel-footer">
                    @if (DateTime.UtcNow < course.EndtDate)
                    {
                        <p>End Date: @course.EndtDate.ToShortDateString()</p>
                    }
                    else
                    {
                        <p>Course has finished</p>
                    }
                </div>
            </div>
        </div>
    }

</div>




