@model AllCarsModel
@{
    ViewData["Title"] = "All";
}
<h2>@Model.CarMake Cars</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Make</th>
            <th>Model</th>
            <th>Travelled Distance</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var car in Model.Cars)
            {

                <tr>
                    <td>@car.Make</td>
                    <td>@car.Model</td>
                    <td>@(car.TravelledDistance / 1000)</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@car.Id">Details</a> 
                    </td>
                </tr>
                
            }
        }

    </tbody>
</table>

<a asp-controller="Cars" asp-action="Search" class="btn btn-info">Back</a>